---
import "@/styles/global.scss";
// Props
const siteTitle = "Shelf Talkers";
const ogImage = "https://shelftalkers.samfeldstein.xyz/open-graph-image.jpg";
const { pageTitle = siteTitle, prefetch, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <!-- Preloads -->
  <link
    rel="preload"
    href=`/fonts/cormorant-garamond.woff2`
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href=`/fonts/grusskarten-gotisch.woff2`
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="prefetch" href=`/${prefetch}` />

  <!-- Site info -->
  <title>{pageTitle}</title>
  <meta
    name="description"
    content={description ||
      "A simple app for generating formatted shelf talkers."}
  />

  <!-- Open Graph markup -->
  <meta property="og:title" content=`${pageTitle} | ${siteTitle}` />
  <meta property="og:description" content={description} />
  <meta property="og:type" content="website" />
  <meta property="og:image" content=`${ogImage}` />
  <meta property="og:url" content={Astro.url.href} />

  <!-- Twitter markup (also handles Bluesky) -->
  <meta name="twitter:title" content=`${pageTitle} | ${siteTitle}` />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content=`${ogImage}` />
</head>
