---
const { buttonId, divId, buttonLabel } = Astro.props;
---

<button id={buttonId} data-button-id={buttonId} data-div-id={divId}>
  {buttonLabel}
</button>

<div id={divId} data-div-id={divId} class="options-box hidden">
  <slot />
</div>

<script>
  import close from "../scripts/close";
  import open from "../scripts/open";

  // Handle open buttons
  document.querySelectorAll("[data-button-id]").forEach((button) => {
    const divId = button.dataset.divId;
    const target = document.getElementById(divId);

    // Open on click
    button.addEventListener("click", () => {
      open(target);
    });
  });

  // Handle done buttons
  document.querySelectorAll(".done").forEach((doneButton) => {
    doneButton.addEventListener("click", () => {
      const box = doneButton.closest(".options-box");
      close(box);
    });
  });
</script>
