---
const { buttonId, divId, buttonLabel } = Astro.props;
---

<button id={buttonId} data-button-id={buttonId} data-div-id={divId}>
  {buttonLabel}
</button>

<div id={divId} data-div-id={divId} class="options-box hidden">
  <slot />
</div>

<script src="../scripts/options/box.js"></script>
